altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
decorator==4.4.2
idna==2.10
imageio==2.34.1
imageio-ffmpeg==0.4.9
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.26.4
packaging==24.0
pefile==2023.2.7
pillow==10.3.0
proglog==0.1.10
pyinstaller-hooks-contrib==2024.6
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.25.1
soupsieve==2.5
tqdm==4.66.4
urllib3==1.26.6
Windows-Toasts==1.1.0
winrt-runtime==2.0.0b2
winrt-Windows.Data.Xml.Dom==2.0.0b2
winrt-Windows.Foundation==2.0.0b2
winrt-Windows.Foundation.Collections==2.0.0b2
winrt-Windows.UI.Notifications==2.0.0b2
winsdk==1.0.0b10
